.remitos-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.custom-react-select__control {
  height: 50px;
  min-height: 50px;
  padding: 1px;
}

.form-label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

input, select, textarea, .MuiInputBase-formControl{
  background-color: white!important;
}

