
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.remitos-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: aliceblue;
}

input, select {
  background-color: white!important;
}
.seguro-item{
  margin-bottom: 15px;
}
.reembolso-item {
  margin-bottom: 15px;
}

.react-select__menu {
  z-index: 999
;}

/* Estilos para el input de coeficiente porque sino no está todo en blanco */
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-jupps9-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: white!important;
}
