/* App.css */
.app {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.sidebar {
  width: 200px; /* Fixed width for the sidebar */
  background-color: #333;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  padding-top: 20px;
  position: fixed; /* Keep the sidebar fixed on the left */
  left: 0;
  top: 0;
  z-index: 10;
}

.content {
  flex-grow: 1;
  padding-left: 220px; /* Add padding to account for the sidebar */
  text-align: center;
}

.sidebar-section {
  width: 100%; /* Full width for each section */
  margin-bottom: 20px;
}

.section-label {
  width: 100%; /* Full width for the section label */
  font-weight: bold;
  padding: 10px;
  background-color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-content {
  width: 100%; /* Full width for the section content */
  padding: 10px;
  display: none;
  flex-direction: column;
}

.sidebar-section.open .section-content {
  display: flex;
}

.sidebar-item {
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

.sidebar-item:hover {
  background-color: #444;
}

.sidebar-item .icon {
  flex-shrink: 0;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  text-align: center;
}

.sidebar-item .text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
