/* Existing Styles */

.dropdown-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-dropdown {
  display: none;
  position: fixed;
  top: 50px;
  left: 10px;
  z-index: 90;
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 220px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.sidebar-dropdown.open {
  display: block;
}

.nested-dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 230px; /* Positioned to the right of the "Facturación" button */
  z-index: 80;
  background-color: #444;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 180px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.sidebar-section.open .nested-dropdown {
  display: block;
}

.sidebar {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  width: 200px;
}

.content {
  flex-grow: 1;
  text-align: center;
  margin-top: 70px;
}

.sidebar-section {
  width: 100%;
  margin-bottom: 20px;
}

.section-label {
  width: 100%;
  font-weight: bold;
  padding: 10px;
  background-color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.section-content {
  padding: 7px;
  display: none;
  flex-direction: column;
  background-color: #444;
}

.sidebar-section.open .section-content {
  display: flex;
}

.sidebar-item {
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
}

.sidebar-item:hover {
  background-color: #555;
}

.sidebar-item .icon {
  flex-shrink: 0;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  text-align: center;
}

.sidebar-item .text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #034c6e;
}
